
/* body.theme-dark */
/* body.theme-light */
/* .markdown-source-view.is-live.preview */
/* .markdown-reading-view */

.pill {
    display: inline-flex;
    vertical-align: middle;
    align-items: stretch;
    line-height: 0px;
    height: 1.5em;
    margin: 0px 2px;
    white-space: nowrap;

    font-weight: bold;
    font-family: Roboto, Noto, sans-serif;
    font-size: 0.9rem;
    color: white;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
    outline: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.pill sub, .pill sup { margin-left: 1px; }

.pill > * {
    padding: 0px 5px;
    align-content: center;
}

.pill > .key {
    background-color: rgba(0, 0, 0, 0.3);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pill > .value {
}

.pill.no-key > .value {
}

.pill-1 { background-color: #4150f8; }
.pill-2 { background-color: #119311; }
.pill-3 { background-color: #187474; }
.pill-4 { background-color: #888807; }
.pill-5 { background-color: #a64776; }

.pill-6 { background-color: #4150f8; }
.pill-7 { background-color: #119311; }
.pill-8 { background-color: #187474; }
.pill-9 { background-color: #888807; }
.pill-10 { background-color: #a64776; }
